/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 /* #map {
    height: 100%;
  } */
  /* Optional: Makes the sample page fill the window. */
  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */


  /* .mapSizing {
    top: 65px;
    left: 0;
    right: 0; */
    /* bottom: 65; */
    /* position: absolute;
    height: calc(100vh - 130px);
  } */


  /* https://tomchentw.github.io/react-google-maps/#installation */