
div[class*="gm-style-"]{
  padding: 0 !important;
}

.gm-style-iw { 
  /* max-width: 500px !important;
  max-height: 500px !important; */
  background: grey;

}

.gm-style-iw-c { 
  max-width: fit-content !important;
  max-height: fit-content !important;
  background: yellow;

}

.gm-style-iw-t {
  /* bottom: 40px !important; */
  bottom: 22.5px !important;

}

.gm-style-iw-d {
  max-width: 100% !important;
  max-height: 100% !important;
  background: green;
}

.gm-style .gm-style-iw-c {
  border-radius: 11.5px !important;
  box-shadow: 0 !important;
  background-color: yellow !important;
  box-shadow: 0 !important;
}


.gm-style .gm-style-iw-d::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  
  /* display: none; */
}

/* <div 
  class="gm-style-iw gm-style-iw-c" 
  style="padding-right: 0px; padding-bottom: 0px; max-width: 255px; max-height: 438px;"
>
  <div
    class="gm-style-iw-d" 
    style="overflow: scroll; max-width: 237px; max-height: 420px;"
  > */

  button[title="Close"] {
    top: 2px !important;
    right: 2px !important;
    color: white;
    content: "X";
  }