.reviewPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 

  height: calc(100vh - 60px);
  /* height: 100%; */
  /* background: red; */

}




.h-fit-content {
  height: fit-content;
}


.mid {
  vertical-align: middle;
}


textarea {
  border: 0.5px solid grey;
  padding: 5px;
}