.back {
    background-image: url("./bathroom-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.jumbotron {
    /* background-image: url("./bathroom-wallpaper.jpg"); */
    
    /* background-color: transparent; */
}

.head {
    height: 20vh;
}

#title {
    color: whitesmoke;
  font-weight: 900;
  font-size: 12vh;
  font-style: italic;
  text-shadow: 1px 1px 22.5px #44aacc;
  opacity: 0.925;
}

.user-image {
    width: 100px;
    height: 100px;
}

.title-image {
    width: 60%;
    height: 100%;
}

.navbar {
    padding: 0;
}

.btn-block {
    background-color: white;
    border-radius: 27.5px;
    width: 70vw;
    box-shadow: 1px 1px 22.5px #44aacc;
    margin: 0 auto;
    opacity: 0.8;
    border: 0;
    font-family: 'Alegreya Sans', sans-serif;

}

.btn-block:hover {
    background-color: #44aacc;
}

.home-button {
    padding: 0;
    margin-bottom: 10px;

}

#about-button {
    margin-bottom: 10px;
}

.collapse {
    margin: 0 auto;
}