
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background: #44aacc;
  box-shadow: 0 3px 7px grey;
  z-index: 100;
}


.form-inline .form-control {
  /* width: 100%; */
}

  /* height: 65px; */
  /* background: #44aacc; */



