
.jumbotron {
    background-image: url("./bathroom-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.user-image {
    width: 100px;
    height: 100px;
}

.title-image {
    width: 60%;
    height: 100%;
}

.navbar {
    padding: 0;
}

.home-button {
    padding: 0;
    margin-bottom: 10px;

}

#about-button {
    margin-bottom: 5px;
}